In [18]:
!pwd

/home/azureuser/Documents

In [9]:
from pyspark.sql import SparkSession
from functools import reduce
from pyspark.sql import DataFrame

In [10]:
%%html
<style>
div.jp-OutputArea-output pre {
    white-space: pre;
}
</style>

In [9]:
# Initialize Spark Session
print("Create a Spark Session CSV")
spark_hadoop = SparkSession.builder.appName("HadoopCSVAnalysis").getOrCreate()
print("**Created")

Create a Spark Session CSV
**Created

In [17]:
spark_sqlserver = SparkSession.builder.appName("FirstRun")\
.config("spark.jars.packages", "com.microsoft.azure:spark-mssql-connector_2.12:1.2.0")\
.getOrCreate()

server_name = "jdbc:sqlserver://localhost:1433"
database_name = "project_db"
url = server_name + ";" + "databaseName=" + database_name + ";"
table_name = "us_energy"
jdbcDF = spark_sqlserver.read\
.format("com.microsoft.sqlserver.jdbc.spark")\
.option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver")\
.option("url", url)\
.option("dbtable", table_name)\
.option("user", "sa")\
.option("password", "MyP@55word").load()



jdbcDF.show()

24/07/11 16:59:11 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

Py4JJavaError: An error occurred while calling o82.load.
: java.lang.ClassNotFoundException: com.microsoft.sqlserver.jdbc.SQLServerDriver
	at java.net.URLClassLoader.findClass(URLClassLoader.java:387)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:418)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:351)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:41)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:34)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:346)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:172)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)

In [5]:
spark_mongo = SparkSession.builder \
  .appName("MongoDB Integration") \
  .config("spark.mongodb.input.uri", "mongodb+srv://jagaban:2oVlVRV3nxWDfi2L@bigdata.4z1fx3p.mongodb.net/birth_data.canadian_births") \
  .config("spark.mongodb.output.uri", "mongodb+srv://jagaban:2oVlVRV3nxWDfi2L@bigdata.4z1fx3p.mongodb.net/birth_data.canadian_births") \
  .getOrCreate()

24/07/11 08:23:09 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [6]:
ca_births = spark_mongo.read \
                 .format("com.mongodb.spark.sql.DefaultSource") \
                 .option("database", "birth_data") \
                 .option("collection", "canadian_births") \
                 .load()

IllegalArgumentException: requirement failed: Missing 'uri' property from options

In [6]:
#ca_births = spark_mongo.read.format("com.mongodb.spark.sql.DefaultSource").option("uri", "mongodb+srv://jagaban:2oVlVRV3nxWDfi2L@bigdata.4z1fx3p.mongodb.net/birth_data.canadian_births").load()
ca_births.show()

+---------+-------------+--------------------+-----------+--------+---------------+------+-----------------+-----------+----------------+------------+---------+---------+-------------+------+---------+--------+---------+----------+--------------------+
|CA_Births|CA_COORDINATE|  CA_Characteristics|CA_DECIMALS|CA_DGUID|CA_Day_of_birth|CA_GEO|CA_Month_of_birth|CA_REF_DATE|CA_SCALAR_FACTOR|CA_SCALAR_ID|CA_STATUS|CA_SYMBOL|CA_TERMINATED|CA_UOM|CA_UOM_ID|CA_VALUE|CA_VECTOR|      Date|                 _id|
+---------+-------------+--------------------+-----------+--------+---------------+------+-----------------+-----------+----------------+------------+---------+---------+-------------+------+---------+--------+---------+----------+--------------------+
|   1083.0|          NaN|Number of live bi...|        NaN|     NaN|            1.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-01|{668f3ff55385940a...|
|   1015.0|          NaN|Number of live bi...|        NaN|     NaN|            2.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-02|{668f3ff55385940a...|
|   1016.0|          NaN|Number of live bi...|        NaN|     NaN|            3.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-03|{668f3ff55385940a...|
|   1051.0|          NaN|Number of live bi...|        NaN|     NaN|            4.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-04|{668f3ff55385940a...|
|    973.0|          NaN|Number of live bi...|        NaN|     NaN|            5.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-05|{668f3ff55385940a...|
|   1058.0|          NaN|Number of live bi...|        NaN|     NaN|            6.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-06|{668f3ff55385940a...|
|    997.0|          NaN|Number of live bi...|        NaN|     NaN|            7.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-07|{668f3ff55385940a...|
|   1071.0|          NaN|Number of live bi...|        NaN|     NaN|            8.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-08|{668f3ff55385940a...|
|    989.0|          NaN|Number of live bi...|        NaN|     NaN|            9.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-09|{668f3ff55385940a...|
|   1011.0|          NaN|Number of live bi...|        NaN|     NaN|           10.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-10|{668f3ff55385940a...|
|   1042.0|          NaN|Number of live bi...|        NaN|     NaN|           11.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-11|{668f3ff55385940a...|
|   1070.0|          NaN|Number of live bi...|        NaN|     NaN|           12.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-12|{668f3ff55385940a...|
|   1045.0|          NaN|Number of live bi...|        NaN|     NaN|           13.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-13|{668f3ff55385940a...|
|   1066.0|          NaN|Number of live bi...|        NaN|     NaN|           14.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-14|{668f3ff55385940a...|
|   1064.0|          NaN|Number of live bi...|        NaN|     NaN|           15.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-15|{668f3ff55385940a...|
|   1040.0|          NaN|Number of live bi...|        NaN|     NaN|           16.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-16|{668f3ff55385940a...|
|   1069.0|          NaN|Number of live bi...|        NaN|     NaN|           17.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-17|{668f3ff55385940a...|
|   1016.0|          NaN|Number of live bi...|        NaN|     NaN|           18.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-18|{668f3ff55385940a...|
|   1064.0|          NaN|Number of live bi...|        NaN|     NaN|           19.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-19|{668f3ff55385940a...|
|   1071.0|          NaN|Number of live bi...|        NaN|     NaN|           20.0|   NaN|          January|       1991|             NaN|         NaN|      NaN|      NaN|          NaN|   NaN|      NaN|     NaN|      NaN|1991-01-20|{668f3ff55385940a...|
+---------+-------------+--------------------+-----------+--------+---------------+------+-----------------+-----------+----------------+------------+---------+---------+-------------+------+---------+--------+---------+----------+--------------------+
only showing top 20 rows

In [11]:
# Load the data from Hadoop
USA_Crimes = spark_hadoop.read.csv("hdfs://localhost:9000/user/input/project/USA_Crimes_-_2001_to_Present.csv", header=True)
ca_temp = spark_hadoop.read.csv("hdfs://localhost:9000/user/input/project/CA_temperature.csv", header=True)

24/07/11 08:49:43 ERROR Executor: Exception in task 0.0 in stage 1.0 (TID 1)
org.apache.hadoop.ipc.RemoteException(org.apache.hadoop.hdfs.server.namenode.SafeModeException): Zero blocklocations for /user/input/project/USA_Crimes_-_2001_to_Present.csv. Name node is in safe mode.
Resources are low on NN. Please add or free up more resourcesthen turn off safe mode manually. NOTE:  If you turn off safe mode before adding resources, the NN will immediately return to safe mode. Use "hdfs dfsadmin -safemode leave" to turn safe mode off. NamenodeHostName:localhost
	at org.apache.hadoop.hdfs.server.namenode.FSNamesystem.newSafemodeException(FSNamesystem.java:1612)
	at org.apache.hadoop.hdfs.server.namenode.FSNamesystem.getBlockLocations(FSNamesystem.java:2131)
	at org.apache.hadoop.hdfs.server.namenode.NameNodeRpcServer.getBlockLocations(NameNodeRpcServer.java:770)
	at org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolServerSideTranslatorPB.getBlockLocations(ClientNamenodeProtocolServerSideTranslatorPB.java:460)
	at org.apache.hadoop.hdfs.protocol.proto.ClientNamenodeProtocolProtos$ClientNamenodeProtocol$2.callBlockingMethod(ClientNamenodeProtocolProtos.java)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:621)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:589)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:573)
	at org.apache.hadoop.ipc.RPC$Server.call(RPC.java:1227)
	at org.apache.hadoop.ipc.Server$RpcCall.run(Server.java:1094)
	at org.apache.hadoop.ipc.Server$RpcCall.run(Server.java:1017)
	at java.security.AccessController.doPrivileged(Native Method)
	at javax.security.auth.Subject.doAs(Subject.java:422)
	at org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1899)
	at org.apache.hadoop.ipc.Server$Handler.run(Server.java:3048)

	at org.apache.hadoop.ipc.Client.getRpcResponse(Client.java:1612)
	at org.apache.hadoop.ipc.Client.call(Client.java:1558)
	at org.apache.hadoop.ipc.Client.call(Client.java:1455)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:242)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:129)
	at com.sun.proxy.$Proxy34.getBlockLocations(Unknown Source)
	at org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolTranslatorPB.getBlockLocations(ClientNamenodeProtocolTranslatorPB.java:333)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invokeMethod(RetryInvocationHandler.java:422)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeMethod(RetryInvocationHandler.java:165)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invoke(RetryInvocationHandler.java:157)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeOnce(RetryInvocationHandler.java:95)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invoke(RetryInvocationHandler.java:359)
	at com.sun.proxy.$Proxy35.getBlockLocations(Unknown Source)
	at org.apache.hadoop.hdfs.DFSClient.callGetBlockLocations(DFSClient.java:900)
	at org.apache.hadoop.hdfs.DFSClient.getLocatedBlocks(DFSClient.java:889)
	at org.apache.hadoop.hdfs.DFSClient.getLocatedBlocks(DFSClient.java:878)
	at org.apache.hadoop.hdfs.DFSClient.open(DFSClient.java:1046)
	at org.apache.hadoop.hdfs.DistributedFileSystem$4.doCall(DistributedFileSystem.java:340)
	at org.apache.hadoop.hdfs.DistributedFileSystem$4.doCall(DistributedFileSystem.java:336)
	at org.apache.hadoop.fs.FileSystemLinkResolver.resolve(FileSystemLinkResolver.java:81)
	at org.apache.hadoop.hdfs.DistributedFileSystem.open(DistributedFileSystem.java:353)
	at org.apache.hadoop.fs.FileSystem.lambda$openFileWithOptions$0(FileSystem.java:4633)
	at org.apache.hadoop.util.LambdaUtils.eval(LambdaUtils.java:52)
	at org.apache.hadoop.fs.FileSystem.openFileWithOptions(FileSystem.java:4631)
	at org.apache.hadoop.fs.FileSystem$FSDataInputStreamBuilder.build(FileSystem.java:4768)
	at org.apache.hadoop.mapreduce.lib.input.LineRecordReader.initialize(LineRecordReader.java:92)
	at org.apache.spark.sql.execution.datasources.HadoopFileLinesReader.<init>(HadoopFileLinesReader.scala:63)
	at org.apache.spark.sql.execution.datasources.text.TextFileFormat.$anonfun$readToUnsafeMem$1(TextFileFormat.scala:119)
	at org.apache.spark.sql.execution.datasources.FileFormat$$anon$1.apply(FileFormat.scala:155)
	at org.apache.spark.sql.execution.datasources.FileFormat$$anon$1.apply(FileFormat.scala:140)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.org$apache$spark$sql$execution$datasources$FileScanRDD$$anon$$readCurrentFile(FileScanRDD.scala:217)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:279)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:129)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
24/07/11 08:49:43 WARN TaskSetManager: Lost task 0.0 in stage 1.0 (TID 1) (myvm.internal.cloudapp.net executor driver): org.apache.hadoop.ipc.RemoteException(org.apache.hadoop.hdfs.server.namenode.SafeModeException): Zero blocklocations for /user/input/project/USA_Crimes_-_2001_to_Present.csv. Name node is in safe mode.
Resources are low on NN. Please add or free up more resourcesthen turn off safe mode manually. NOTE:  If you turn off safe mode before adding resources, the NN will immediately return to safe mode. Use "hdfs dfsadmin -safemode leave" to turn safe mode off. NamenodeHostName:localhost
	at org.apache.hadoop.hdfs.server.namenode.FSNamesystem.newSafemodeException(FSNamesystem.java:1612)
	at org.apache.hadoop.hdfs.server.namenode.FSNamesystem.getBlockLocations(FSNamesystem.java:2131)
	at org.apache.hadoop.hdfs.server.namenode.NameNodeRpcServer.getBlockLocations(NameNodeRpcServer.java:770)
	at org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolServerSideTranslatorPB.getBlockLocations(ClientNamenodeProtocolServerSideTranslatorPB.java:460)
	at org.apache.hadoop.hdfs.protocol.proto.ClientNamenodeProtocolProtos$ClientNamenodeProtocol$2.callBlockingMethod(ClientNamenodeProtocolProtos.java)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:621)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:589)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:573)
	at org.apache.hadoop.ipc.RPC$Server.call(RPC.java:1227)
	at org.apache.hadoop.ipc.Server$RpcCall.run(Server.java:1094)
	at org.apache.hadoop.ipc.Server$RpcCall.run(Server.java:1017)
	at java.security.AccessController.doPrivileged(Native Method)
	at javax.security.auth.Subject.doAs(Subject.java:422)
	at org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1899)
	at org.apache.hadoop.ipc.Server$Handler.run(Server.java:3048)

	at org.apache.hadoop.ipc.Client.getRpcResponse(Client.java:1612)
	at org.apache.hadoop.ipc.Client.call(Client.java:1558)
	at org.apache.hadoop.ipc.Client.call(Client.java:1455)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:242)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:129)
	at com.sun.proxy.$Proxy34.getBlockLocations(Unknown Source)
	at org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolTranslatorPB.getBlockLocations(ClientNamenodeProtocolTranslatorPB.java:333)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invokeMethod(RetryInvocationHandler.java:422)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeMethod(RetryInvocationHandler.java:165)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invoke(RetryInvocationHandler.java:157)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeOnce(RetryInvocationHandler.java:95)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invoke(RetryInvocationHandler.java:359)
	at com.sun.proxy.$Proxy35.getBlockLocations(Unknown Source)
	at org.apache.hadoop.hdfs.DFSClient.callGetBlockLocations(DFSClient.java:900)
	at org.apache.hadoop.hdfs.DFSClient.getLocatedBlocks(DFSClient.java:889)
	at org.apache.hadoop.hdfs.DFSClient.getLocatedBlocks(DFSClient.java:878)
	at org.apache.hadoop.hdfs.DFSClient.open(DFSClient.java:1046)
	at org.apache.hadoop.hdfs.DistributedFileSystem$4.doCall(DistributedFileSystem.java:340)
	at org.apache.hadoop.hdfs.DistributedFileSystem$4.doCall(DistributedFileSystem.java:336)
	at org.apache.hadoop.fs.FileSystemLinkResolver.resolve(FileSystemLinkResolver.java:81)
	at org.apache.hadoop.hdfs.DistributedFileSystem.open(DistributedFileSystem.java:353)
	at org.apache.hadoop.fs.FileSystem.lambda$openFileWithOptions$0(FileSystem.java:4633)
	at org.apache.hadoop.util.LambdaUtils.eval(LambdaUtils.java:52)
	at org.apache.hadoop.fs.FileSystem.openFileWithOptions(FileSystem.java:4631)
	at org.apache.hadoop.fs.FileSystem$FSDataInputStreamBuilder.build(FileSystem.java:4768)
	at org.apache.hadoop.mapreduce.lib.input.LineRecordReader.initialize(LineRecordReader.java:92)
	at org.apache.spark.sql.execution.datasources.HadoopFileLinesReader.<init>(HadoopFileLinesReader.scala:63)
	at org.apache.spark.sql.execution.datasources.text.TextFileFormat.$anonfun$readToUnsafeMem$1(TextFileFormat.scala:119)
	at org.apache.spark.sql.execution.datasources.FileFormat$$anon$1.apply(FileFormat.scala:155)
	at org.apache.spark.sql.execution.datasources.FileFormat$$anon$1.apply(FileFormat.scala:140)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.org$apache$spark$sql$execution$datasources$FileScanRDD$$anon$$readCurrentFile(FileScanRDD.scala:217)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:279)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:129)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

24/07/11 08:49:43 ERROR TaskSetManager: Task 0 in stage 1.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling o73.csv.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 1.0 failed 1 times, most recent failure: Lost task 0.0 in stage 1.0 (TID 1) (myvm.internal.cloudapp.net executor driver): org.apache.hadoop.ipc.RemoteException(org.apache.hadoop.hdfs.server.namenode.SafeModeException): Zero blocklocations for /user/input/project/USA_Crimes_-_2001_to_Present.csv. Name node is in safe mode.
Resources are low on NN. Please add or free up more resourcesthen turn off safe mode manually. NOTE:  If you turn off safe mode before adding resources, the NN will immediately return to safe mode. Use "hdfs dfsadmin -safemode leave" to turn safe mode off. NamenodeHostName:localhost
	at org.apache.hadoop.hdfs.server.namenode.FSNamesystem.newSafemodeException(FSNamesystem.java:1612)
	at org.apache.hadoop.hdfs.server.namenode.FSNamesystem.getBlockLocations(FSNamesystem.java:2131)
	at org.apache.hadoop.hdfs.server.namenode.NameNodeRpcServer.getBlockLocations(NameNodeRpcServer.java:770)
	at org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolServerSideTranslatorPB.getBlockLocations(ClientNamenodeProtocolServerSideTranslatorPB.java:460)
	at org.apache.hadoop.hdfs.protocol.proto.ClientNamenodeProtocolProtos$ClientNamenodeProtocol$2.callBlockingMethod(ClientNamenodeProtocolProtos.java)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:621)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:589)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:573)
	at org.apache.hadoop.ipc.RPC$Server.call(RPC.java:1227)
	at org.apache.hadoop.ipc.Server$RpcCall.run(Server.java:1094)
	at org.apache.hadoop.ipc.Server$RpcCall.run(Server.java:1017)
	at java.security.AccessController.doPrivileged(Native Method)
	at javax.security.auth.Subject.doAs(Subject.java:422)
	at org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1899)
	at org.apache.hadoop.ipc.Server$Handler.run(Server.java:3048)

	at org.apache.hadoop.ipc.Client.getRpcResponse(Client.java:1612)
	at org.apache.hadoop.ipc.Client.call(Client.java:1558)
	at org.apache.hadoop.ipc.Client.call(Client.java:1455)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:242)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:129)
	at com.sun.proxy.$Proxy34.getBlockLocations(Unknown Source)
	at org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolTranslatorPB.getBlockLocations(ClientNamenodeProtocolTranslatorPB.java:333)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invokeMethod(RetryInvocationHandler.java:422)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeMethod(RetryInvocationHandler.java:165)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invoke(RetryInvocationHandler.java:157)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeOnce(RetryInvocationHandler.java:95)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invoke(RetryInvocationHandler.java:359)
	at com.sun.proxy.$Proxy35.getBlockLocations(Unknown Source)
	at org.apache.hadoop.hdfs.DFSClient.callGetBlockLocations(DFSClient.java:900)
	at org.apache.hadoop.hdfs.DFSClient.getLocatedBlocks(DFSClient.java:889)
	at org.apache.hadoop.hdfs.DFSClient.getLocatedBlocks(DFSClient.java:878)
	at org.apache.hadoop.hdfs.DFSClient.open(DFSClient.java:1046)
	at org.apache.hadoop.hdfs.DistributedFileSystem$4.doCall(DistributedFileSystem.java:340)
	at org.apache.hadoop.hdfs.DistributedFileSystem$4.doCall(DistributedFileSystem.java:336)
	at org.apache.hadoop.fs.FileSystemLinkResolver.resolve(FileSystemLinkResolver.java:81)
	at org.apache.hadoop.hdfs.DistributedFileSystem.open(DistributedFileSystem.java:353)
	at org.apache.hadoop.fs.FileSystem.lambda$openFileWithOptions$0(FileSystem.java:4633)
	at org.apache.hadoop.util.LambdaUtils.eval(LambdaUtils.java:52)
	at org.apache.hadoop.fs.FileSystem.openFileWithOptions(FileSystem.java:4631)
	at org.apache.hadoop.fs.FileSystem$FSDataInputStreamBuilder.build(FileSystem.java:4768)
	at org.apache.hadoop.mapreduce.lib.input.LineRecordReader.initialize(LineRecordReader.java:92)
	at org.apache.spark.sql.execution.datasources.HadoopFileLinesReader.<init>(HadoopFileLinesReader.scala:63)
	at org.apache.spark.sql.execution.datasources.text.TextFileFormat.$anonfun$readToUnsafeMem$1(TextFileFormat.scala:119)
	at org.apache.spark.sql.execution.datasources.FileFormat$$anon$1.apply(FileFormat.scala:155)
	at org.apache.spark.sql.execution.datasources.FileFormat$$anon$1.apply(FileFormat.scala:140)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.org$apache$spark$sql$execution$datasources$FileScanRDD$$anon$$readCurrentFile(FileScanRDD.scala:217)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:279)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:129)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:989)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2398)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2419)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2438)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4332)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3314)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4322)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4320)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4320)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3314)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3537)
	at org.apache.spark.sql.execution.datasources.csv.TextInputCSVDataSource$.infer(CSVDataSource.scala:111)
	at org.apache.spark.sql.execution.datasources.csv.CSVDataSource.inferSchema(CSVDataSource.scala:64)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat.inferSchema(CSVFileFormat.scala:62)
	at org.apache.spark.sql.execution.datasources.DataSource.$anonfun$getOrInferFileFormatSchema$11(DataSource.scala:208)
	at scala.Option.orElse(Option.scala:447)
	at org.apache.spark.sql.execution.datasources.DataSource.getOrInferFileFormatSchema(DataSource.scala:205)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:407)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.csv(DataFrameReader.scala:538)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.hadoop.ipc.RemoteException(org.apache.hadoop.hdfs.server.namenode.SafeModeException): Zero blocklocations for /user/input/project/USA_Crimes_-_2001_to_Present.csv. Name node is in safe mode.
Resources are low on NN. Please add or free up more resourcesthen turn off safe mode manually. NOTE:  If you turn off safe mode before adding resources, the NN will immediately return to safe mode. Use "hdfs dfsadmin -safemode leave" to turn safe mode off. NamenodeHostName:localhost
	at org.apache.hadoop.hdfs.server.namenode.FSNamesystem.newSafemodeException(FSNamesystem.java:1612)
	at org.apache.hadoop.hdfs.server.namenode.FSNamesystem.getBlockLocations(FSNamesystem.java:2131)
	at org.apache.hadoop.hdfs.server.namenode.NameNodeRpcServer.getBlockLocations(NameNodeRpcServer.java:770)
	at org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolServerSideTranslatorPB.getBlockLocations(ClientNamenodeProtocolServerSideTranslatorPB.java:460)
	at org.apache.hadoop.hdfs.protocol.proto.ClientNamenodeProtocolProtos$ClientNamenodeProtocol$2.callBlockingMethod(ClientNamenodeProtocolProtos.java)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:621)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:589)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:573)
	at org.apache.hadoop.ipc.RPC$Server.call(RPC.java:1227)
	at org.apache.hadoop.ipc.Server$RpcCall.run(Server.java:1094)
	at org.apache.hadoop.ipc.Server$RpcCall.run(Server.java:1017)
	at java.security.AccessController.doPrivileged(Native Method)
	at javax.security.auth.Subject.doAs(Subject.java:422)
	at org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1899)
	at org.apache.hadoop.ipc.Server$Handler.run(Server.java:3048)

	at org.apache.hadoop.ipc.Client.getRpcResponse(Client.java:1612)
	at org.apache.hadoop.ipc.Client.call(Client.java:1558)
	at org.apache.hadoop.ipc.Client.call(Client.java:1455)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:242)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:129)
	at com.sun.proxy.$Proxy34.getBlockLocations(Unknown Source)
	at org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolTranslatorPB.getBlockLocations(ClientNamenodeProtocolTranslatorPB.java:333)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invokeMethod(RetryInvocationHandler.java:422)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeMethod(RetryInvocationHandler.java:165)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invoke(RetryInvocationHandler.java:157)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeOnce(RetryInvocationHandler.java:95)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invoke(RetryInvocationHandler.java:359)
	at com.sun.proxy.$Proxy35.getBlockLocations(Unknown Source)
	at org.apache.hadoop.hdfs.DFSClient.callGetBlockLocations(DFSClient.java:900)
	at org.apache.hadoop.hdfs.DFSClient.getLocatedBlocks(DFSClient.java:889)
	at org.apache.hadoop.hdfs.DFSClient.getLocatedBlocks(DFSClient.java:878)
	at org.apache.hadoop.hdfs.DFSClient.open(DFSClient.java:1046)
	at org.apache.hadoop.hdfs.DistributedFileSystem$4.doCall(DistributedFileSystem.java:340)
	at org.apache.hadoop.hdfs.DistributedFileSystem$4.doCall(DistributedFileSystem.java:336)
	at org.apache.hadoop.fs.FileSystemLinkResolver.resolve(FileSystemLinkResolver.java:81)
	at org.apache.hadoop.hdfs.DistributedFileSystem.open(DistributedFileSystem.java:353)
	at org.apache.hadoop.fs.FileSystem.lambda$openFileWithOptions$0(FileSystem.java:4633)
	at org.apache.hadoop.util.LambdaUtils.eval(LambdaUtils.java:52)
	at org.apache.hadoop.fs.FileSystem.openFileWithOptions(FileSystem.java:4631)
	at org.apache.hadoop.fs.FileSystem$FSDataInputStreamBuilder.build(FileSystem.java:4768)
	at org.apache.hadoop.mapreduce.lib.input.LineRecordReader.initialize(LineRecordReader.java:92)
	at org.apache.spark.sql.execution.datasources.HadoopFileLinesReader.<init>(HadoopFileLinesReader.scala:63)
	at org.apache.spark.sql.execution.datasources.text.TextFileFormat.$anonfun$readToUnsafeMem$1(TextFileFormat.scala:119)
	at org.apache.spark.sql.execution.datasources.FileFormat$$anon$1.apply(FileFormat.scala:155)
	at org.apache.spark.sql.execution.datasources.FileFormat$$anon$1.apply(FileFormat.scala:140)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.org$apache$spark$sql$execution$datasources$FileScanRDD$$anon$$readCurrentFile(FileScanRDD.scala:217)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:279)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:129)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [36]:
USA_Crimes.show()
ca_temp.show()

+--------+-----------+----------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+---------+----------+--------------------+
|      ID|Case_Number|      Date|               Block|IUCR|        Primary_Type|         Description|Location_Description|Arrest|Domestic|Beat|District|Ward|Community_Area|FBI_Code|X_Coordinate|Y_Coordinate|Year|          Updated_On| Latitude| Longitude|            Location|
+--------+-----------+----------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+---------+----------+--------------------+
| 6995825|   HR401908|2001-01-01|050XX W BERENICE AVE|0841|               THEFT|FINANCIAL ID THEF...|           APARTMENT| False|   False|1634|    16.0|45.0|          15.0|      06|   1141979.0|   1925160.0|2001|07/04/2009 01:04:...|41.950703|-87.753494|(41.95070415, -87...|
| 9387957|   HW531459|2001-01-01|  082XX W ADDISON ST|0840|               THEFT|FINANCIAL ID THEF...|           RESIDENCE| False|   False|1631|    16.0|36.0|          17.0|      06|         0.0|         0.0|2001|08/17/2015 03:03:...|      0.0|       0.0|                   0|
| 9755149|   HX403546|2001-01-01|031XX W DOUGLAS BLVD|1562|         SEX OFFENSE|AGG CRIMINAL SEXU...|CHURCH/SYNAGOGUE/...| False|   False|1022|    10.0|24.0|          29.0|      17|         0.0|         0.0|2001|08/17/2015 03:03:...|      0.0|       0.0|                   0|
| 8602342|   HV276481|2001-01-01|    085XX S GREEN ST|1754|OFFENSE INVOLVING...|AGG SEX ASSLT OF ...|           RESIDENCE| False|   False| 613|     6.0|21.0|          71.0|      02|         0.0|         0.0|2001|08/17/2015 03:03:...|      0.0|       0.0|                   0|
|11386636|   JB357844|2001-01-01|057XX S ARTESIAN AVE|1153|  DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           RESIDENCE| False|   False| 824|     8.0|16.0|          63.0|      11|         0.0|         0.0|2001|07/21/2018 03:49:...|      0.0|       0.0|                   0|
| 8846706|   HV519872|2001-01-01|  104XX S NORMAL AVE|1754|OFFENSE INVOLVING...|AGG SEX ASSLT OF ...|           RESIDENCE| False|    True|2233|    22.0|34.0|          49.0|      02|         0.0|         0.0|2001|08/17/2015 03:03:...|      0.0|       0.0|                   0|
| 9748492|   HX397219|2001-01-01|031XX W DOUGLAS BLVD|1562|         SEX OFFENSE|AGG CRIMINAL SEXU...|CHURCH/SYNAGOGUE/...| False|   False|1022|    10.0|24.0|          29.0|      17|         0.0|         0.0|2001|08/17/2015 03:03:...|      0.0|       0.0|                   0|
| 8870207|   HV543569|2001-01-01|   003XX S DAMEN AVE|0841|               THEFT|FINANCIAL ID THEF...|               OTHER| False|   False|1211|    12.0| 2.0|          28.0|      06|         0.0|         0.0|2001|08/17/2015 03:03:...|      0.0|       0.0|                   0|
|10505529|   HZ247066|2001-01-01|    104XX S AVENUE F|1153|  DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           RESIDENCE| False|   False| 432|     4.0|10.0|          52.0|      11|         0.0|         0.0|2001|05/07/2016 03:48:...|      0.0|       0.0|                   0|
| 8623828|   HV297549|2001-01-01|046XX S HERMITAGE...|0266| CRIM SEXUAL ASSAULT|           PREDATORY|           RESIDENCE| False|   False| 924|     9.0|20.0|          61.0|      02|         0.0|         0.0|2001|08/17/2015 03:03:...|      0.0|       0.0|                   0|
| 9755245|   HX403558|2001-01-01|031XX W DOUGLAS BLVD|1562|         SEX OFFENSE|AGG CRIMINAL SEXU...|CHURCH/SYNAGOGUE/...| False|   False|1022|    10.0|24.0|          29.0|      17|         0.0|         0.0|2001|08/17/2015 03:03:...|      0.0|       0.0|                   0|
| 9204813|   HW344902|2001-01-01|107XX S CHAMPLAIN...|1562|         SEX OFFENSE|AGG CRIMINAL SEXU...|           RESIDENCE| False|   False| 513|     5.0| 9.0|          50.0|      17|         0.0|         0.0|2001|08/17/2015 03:03:...|      0.0|       0.0|                   0|
|11295508|   JB237608|2001-01-01| 068XX S ROCKWELL ST|1153|  DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           RESIDENCE| False|   False| 831|     8.0|17.0|          66.0|      11|         0.0|         0.0|2001|10/27/2018 04:00:...|      0.0|       0.0|                   0|
| 9442043|   HW586150|2001-01-01|008XX S INDEPENDE...|0266| CRIM SEXUAL ASSAULT|           PREDATORY|           RESIDENCE| False|    True|1133|    11.0|24.0|          26.0|      02|         0.0|         0.0|2001|09/07/2021 03:41:...|      0.0|       0.0|                   0|
| 9755238|   HX403557|2001-01-01|031XX W DOUGLAS BLVD|1562|         SEX OFFENSE|AGG CRIMINAL SEXU...|CHURCH/SYNAGOGUE/...| False|   False|1022|    10.0|24.0|          29.0|      17|         0.0|         0.0|2001|08/17/2015 03:03:...|      0.0|       0.0|                   0|
|12413905|   JE289692|2001-01-01|   048XX S THROOP ST|1752|OFFENSE INVOLVING...|AGGRAVATED CRIMIN...|           RESIDENCE| False|    True| 933|     9.0|20.0|          61.0|      17|         0.0|         0.0|2001|07/10/2021 03:40:...|      0.0|       0.0|                   0|
| 9652075|   HX302422|2001-01-01|   033XX W WALNUT ST|0266| CRIM SEXUAL ASSAULT|           PREDATORY|           RESIDENCE| False|    True|1123|    11.0|28.0|          27.0|      02|         0.0|         0.0|2001|09/07/2021 03:41:...|      0.0|       0.0|                   0|
|11513580|   JB524424|2001-01-01| 030XX W WARREN BLVD|1753|OFFENSE INVOLVING...|SEXUAL ASSAULT OF...|           RESIDENCE|  True|    True|1222|    12.0|27.0|          27.0|      02|         0.0|         0.0|2001|07/01/2023 03:40:...|      0.0|       0.0|                   0|
| 9755214|   HX403555|2001-01-01|031XX W DOUGLAS BLVD|1562|         SEX OFFENSE|AGG CRIMINAL SEXU...|CHURCH/SYNAGOGUE/...| False|   False|1022|    10.0|24.0|          29.0|      17|         0.0|         0.0|2001|08/17/2015 03:03:...|      0.0|       0.0|                   0|
|10473864|   HZ213356|2001-01-01|   012XX S DAMEN AVE|1582|OFFENSE INVOLVING...|   CHILD PORNOGRAPHY|               OTHER| False|   False|1233|    12.0| 2.0|          28.0|      17|         0.0|         0.0|2001|04/09/2016 03:47:...|      0.0|       0.0|                   0|
+--------+-----------+----------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+---------+----------+--------------------+
only showing top 20 rows

+---------+--------+--------------------+----------+----------+----------------+----------------+-----------------+--------+
|Longitude|Latitude|        Station_Name|Climate_ID|      Date|Max_Temp_Celcius|Min_Temp_Celcius|Mean_Temp_Celcius|Province|
+---------+--------+--------------------+----------+----------+----------------+----------------+-----------------+--------+
|  -134.83|   60.47| ANNIE LAKE ROBINSON|   2100115|2000-01-01|           -25.0|           -30.0|            -27.5|      YT|
|   -62.17|   46.43|         EAST BALTIC|   8300416|2000-01-01|            -4.0|           -12.0|             -8.0|      PE|
|  -121.22|   51.68|  100 MILE HOUSE 6NE|   1165793|2000-01-01|            -7.5|           -10.0|             -8.8|      BC|
|  -115.96|   49.63|       KIMBERLEY PCC|   1154203|2000-01-01|            -3.0|           -14.5|             -8.8|      BC|
|  -123.12|   49.31| N VANCOUVER WHARVES|   1105669|2000-01-01|            NULL|            NULL|             NULL|      BC|
|  -113.29|    49.2|            CARDSTON|   3031322|2000-01-01|             3.3|            -7.1|             -1.9|      AB|
|   -77.48|   44.53|               MADOC|   6154779|2000-01-01|             6.0|            -8.5|             -1.3|      ON|
|  -114.88|   50.62|         BURNS CREEK|   3050974|2000-01-01|            -5.6|           -14.3|            -10.0|      AB|
|   -75.37|    45.0|          OAK VALLEY|   6105730|2000-01-01|             4.0|           -10.0|             -3.0|      ON|
|   -73.85|   45.22|         STE MARTINE|   7027540|2000-01-01|             3.5|           -13.0|             -4.8|      QC|
|  -124.32|   49.77|STILLWATER POWER ...|   1047770|2000-01-01|            NULL|            NULL|             NULL|      BC|
|   -65.83|    47.9|        BELLEDUNE CS|   8100515|2000-01-01|            -3.4|           -21.8|            -12.6|      NB|
|   -81.15|   43.86|            WROXETER|   6129660|2000-01-01|            NULL|            NULL|             NULL|      ON|
|   -123.2|    49.4|        CYPRESS BOWL|   1102253|2000-01-01|             0.0|            -2.0|             -1.0|      BC|
|  -113.89|   52.18|          RED DEER A|   3025480|2000-01-01|            -5.2|           -16.4|            -10.8|      AB|
|  -115.22|   49.23|BAYNES LAKE KOOTE...|   1150690|2000-01-01|            -1.0|            -7.0|             -4.0|      BC|
|   -63.35|   46.41|         NEW GLASGOW|   8300497|2000-01-01|             0.0|           -19.5|             -9.8|      PE|
|  -104.65|   49.38|              CEYLON|   4011441|2000-01-01|            NULL|            NULL|             NULL|      SK|
|   -64.77|   44.08|    LIVERPOOL MILTON|   8203120|2000-01-01|            NULL|           -14.0|             NULL|      NS|
|   -64.65|   61.58|   RESOLUTION ISLAND|   2403602|2000-01-01|           -19.0|           -22.6|            -20.8|      NU|
+---------+--------+--------------------+----------+----------+----------------+----------------+-----------------+--------+
only showing top 20 rows

In [26]:
from pyspark.sql.functions import to_date, col
# Convert the 'Date' column to datetime and change the format
USA_Crimes = USA_Crimes.withColumn("Date", to_date(col("Date"), "MM/dd/yyyy hh:mm:ss a"))

# Sort the DataFrame by the 'Date' column
USA_Crimes = USA_Crimes.orderBy("Date", ascending=True)

In [27]:
from pyspark.sql.functions import count

# Group by 'Date' and count the rows for each group
df_aggregated = USA_Crimes.groupBy("Date").agg(count("*").alias("us_crime_count"))

df_aggregated.show()

+----------+--------------+
|      Date|us_crime_count|
+----------+--------------+
|2023-06-22|           784|
|2022-07-31|           761|
|2023-07-15|           787|
|2016-03-01|           821|
|2021-10-11|           565|
|2014-09-26|           879|
|2021-12-18|           577|
|2005-06-06|          1275|
|2013-05-21|           932|
|2015-05-19|           710|
|2022-03-28|           601|
|2017-08-11|           766|
|2021-11-13|           589|
|2021-01-27|           518|
|2021-08-27|           674|
|2014-11-12|           596|
|2009-11-22|           988|
|2017-09-11|           691|
|2005-01-16|           968|
|2018-08-10|           859|
+----------+--------------+
only showing top 20 rows

In [11]:
'''spark_postgres = SparkSession \
    .builder \
    .appName("Canada Temperature Data Analysis") \
    .config("spark.jars", "/usr/local/spark/jars/postgresql-42.7.3.jar") \
    .getOrCreate()'''

spark_postgres = SparkSession.builder \
    .appName("Canada Temperature Data Analysis") \
    .config("spark.jars", "/usr/local/spark/jars/postgresql-42.7.3.jar") \
    .getOrCreate()

24/07/11 16:57:32 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [12]:
us_temp = spark_postgres.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/postgres_db") \
    .option("dbtable", "us_temperature") \
    .option("user", "postgres_user") \
    .option("password", "postgres_user") \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [13]:
us_temp.show(5)

+------+----------+---------+--------+-----------+-----------+------------+-----+--------+
|wbanno|  lst_date|longitude|latitude|t_daily_max|t_daily_min|t_daily_mean|state|location|
+------+----------+---------+--------+-----------+-----------+------------+-----+--------+
| 53159|2013-08-12|  -111.34|    35.5|       32.3|       14.0|        23.1|   AZ| Cameron|
| 53159|2013-08-13|  -111.34|    35.5|       33.8|       15.1|        24.5|   AZ| Cameron|
| 53159|2013-08-14|  -111.34|    35.5|       34.4|       16.5|        25.4|   AZ| Cameron|
| 53159|2013-08-15|  -111.34|    35.5|       33.6|       18.8|        26.2|   AZ| Cameron|
| 53159|2013-08-16|  -111.34|    35.5|       33.3|       15.8|        24.5|   AZ| Cameron|
+------+----------+---------+--------+-----------+-----------+------------+-----+--------+
only showing top 5 rows

In [14]:
print("Create a Spark MySQL Session")
appName = "PySpark Example"
master = "local"
# Create Spark session
spark_mysql = SparkSession.builder \
    .appName(appName) \
    .master(master) \
    .config("spark.jars", "/usr/local/spark/jars/mysql-connector-java-8.0.30.jar") \
    .getOrCreate()


server = "localhost"
port = 3306
database = "project_db"
jdbc_url = f"jdbc:mysql://{server}:{port}/{database}?permitMysqlScheme"


user = "root"
password = "AzurePassword"
jdbc_driver = "com.mysql.cj.jdbc.Driver"


properties = {
    "user": user,
    "password": password,
    "driver": jdbc_driver
}
print("**Created")

Create a Spark MySQL Session
**Created

24/07/11 16:58:15 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [15]:
us_birth = spark_mysql.read.jdbc(jdbc_url, "(select * from us_birth_data) tab", properties=properties)

In [16]:
us_birth.show()

+----------+---------+
|      Date|us_births|
+----------+---------+
|1969-01-01|     8486|
|1969-01-02|     9002|
|1969-01-03|     9542|
|1969-01-04|     8960|
|1969-01-05|     8390|
|1969-01-06|     9560|
|1969-01-07|     9738|
|1969-01-08|     9734|
|1969-01-09|     9434|
|1969-01-10|    10042|
|1969-01-11|     9178|
|1969-01-12|     8450|
|1969-01-13|     9834|
|1969-01-14|    10366|
|1969-01-15|     9894|
|1969-01-16|     9662|
|1969-01-17|     9974|
|1969-01-18|     9312|
|1969-01-19|     8622|
|1969-01-20|     9808|
+----------+---------+
only showing top 20 rows

In [93]:
# Register DataFrames as temporary SQL tables
ca_temp.createOrReplaceTempView("CA_temperature")


# Run SQL queries for analysis
ca_on_temp = spark_hadoop.sql("""
    SELECT Longitude, Latitude, Station_Name, Date, Max_Temp_Celcius, Min_Temp_Celcius, Mean_Temp_Celcius, Province
    FROM ca_temperature
    WHERE Province = "ON" and  Station_Name="COBOURG STP"
""")

In [95]:
# Show the result
ca_on_temp.show()

+---------+--------+------------+----------+----------------+----------------+-----------------+--------+
|Longitude|Latitude|Station_Name|      Date|Max_Temp_Celcius|Min_Temp_Celcius|Mean_Temp_Celcius|Province|
+---------+--------+------------+----------+----------------+----------------+-----------------+--------+
|   -78.18|   43.97| COBOURG STP|2000-01-01|             6.0|            -5.0|              0.5|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-02|             9.0|            -2.0|              3.5|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-03|             7.5|             0.5|              4.0|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-04|             9.0|            -1.0|              4.0|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-05|             0.0|            -9.0|             -4.5|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-06|             3.5|           -10.0|             -3.3|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-07|             2.5|            -1.0|              0.8|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-08|             4.5|            -5.5|             -0.5|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-09|             4.5|             2.0|              3.3|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-10|             6.0|             2.0|              4.0|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-11|             5.0|             3.0|              4.0|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-12|             1.0|            -2.5|             -0.8|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-13|            -9.0|           -10.5|             -9.8|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-14|            -9.0|           -17.5|            -13.3|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-15|             4.0|           -14.0|             -5.0|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-16|             2.5|           -13.0|             -5.3|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-17|           -13.0|           -23.0|            -18.0|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-18|           -10.0|           -17.0|            -13.5|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-19|            -4.0|           -14.0|             -9.0|      ON|
|   -78.18|   43.97| COBOURG STP|2000-01-20|            -6.0|           -14.0|            -10.0|      ON|
+---------+--------+------------+----------+----------------+----------------+-----------------+--------+
only showing top 20 rows

In [111]:
us_temp.show()

+------+----------+---------+--------+-----------+-----------+------------+-----+--------+
|wbanno|  lst_date|longitude|latitude|t_daily_max|t_daily_min|t_daily_mean|state|location|
+------+----------+---------+--------+-----------+-----------+------------+-----+--------+
| 54795|2015-11-14|   -70.95|   43.11|        7.3|        0.9|         4.1|   NH|  Durham|
| 54795|2015-11-15|   -70.95|   43.11|       11.8|       -0.8|         5.5|   NH|  Durham|
| 54795|2015-11-16|   -70.95|   43.11|       13.1|       -0.9|         6.1|   NH|  Durham|
| 54795|2015-11-17|   -70.95|   43.11|        7.5|       -5.6|         1.0|   NH|  Durham|
| 54795|2015-11-18|   -70.95|   43.11|        9.7|       -7.8|         0.9|   NH|  Durham|
| 54795|2015-11-19|   -70.95|   43.11|       11.1|       -2.5|         4.3|   NH|  Durham|
| 54795|2015-11-20|   -70.95|   43.11|       14.9|        5.5|        10.2|   NH|  Durham|
| 54795|2015-11-21|   -70.95|   43.11|        8.6|       -2.9|         2.8|   NH|  Durham|
| 54795|2015-11-22|   -70.95|   43.11|        5.9|       -2.1|         1.9|   NH|  Durham|
| 54795|2015-11-23|   -70.95|   43.11|        4.5|       -3.0|         0.7|   NH|  Durham|
| 54795|2015-11-24|   -70.95|   43.11|        5.4|       -7.6|        -1.1|   NH|  Durham|
| 54795|2015-11-25|   -70.95|   43.11|        6.8|       -7.1|        -0.1|   NH|  Durham|
| 54795|2015-11-26|   -70.95|   43.11|       13.5|       -5.4|         4.1|   NH|  Durham|
| 54795|2015-11-27|   -70.95|   43.11|       18.5|        1.1|         9.8|   NH|  Durham|
| 54795|2015-11-28|   -70.95|   43.11|       13.9|        1.3|         7.6|   NH|  Durham|
| 54795|2015-11-29|   -70.95|   43.11|        5.5|       -5.2|         0.2|   NH|  Durham|
| 54795|2015-11-30|   -70.95|   43.11|        1.5|       -7.6|        -3.1|   NH|  Durham|
| 54795|2015-12-01|   -70.95|   43.11|        2.4|       -7.9|        -2.8|   NH|  Durham|
| 54795|2015-12-02|   -70.95|   43.11|        5.8|        2.0|         3.9|   NH|  Durham|
| 54795|2015-12-03|   -70.95|   43.11|        6.6|        2.1|         4.3|   NH|  Durham|
+------+----------+---------+--------+-----------+-----------+------------+-----+--------+
only showing top 20 rows

In [ ]:
3047
53968

In [27]:
# Register DataFrames as temporary SQL tables
us_temp.createOrReplaceTempView("us_temperature")


# Run SQL queries for analysis
us_tx_temp = spark_postgres.sql("""
    SELECT lst_date, longitude, latitude, t_daily_max, t_daily_min, t_daily_mean, state
    FROM us_temperature
    WHERE state = "TX" and wbanno="3047"
""")

In [28]:
# Get number of rows
num_rows = us_tx_temp.count()

# Get number of columns
num_columns = len(us_tx_temp.columns)

# Print the shape
print(f"The dataset has {num_rows} rows and {num_columns} columns.")

The dataset has 7714 rows and 7 columns.

In [29]:
# Show the result
us_tx_temp.show()

+----------+---------+--------+-----------+-----------+------------+-----+
|  lst_date|longitude|latitude|t_daily_max|t_daily_min|t_daily_mean|state|
+----------+---------+--------+-----------+-----------+------------+-----+
|2006-01-01|  -102.81|   31.62|       23.8|       10.3|        17.1|   TX|
|2006-05-16|  -102.81|   31.62|       29.5|       10.2|        19.9|   TX|
|2006-05-17|  -102.81|   31.62|       32.7|       12.7|        22.7|   TX|
|2006-05-18|  -102.81|   31.62|       36.3|       14.8|        25.6|   TX|
|2006-05-19|  -102.81|   31.62|       38.4|       16.6|        27.5|   TX|
|2006-05-20|  -102.81|   31.62|       39.9|       18.7|        29.3|   TX|
|2006-05-21|  -102.81|   31.62|       38.8|       21.6|        30.2|   TX|
|2006-05-22|  -102.81|   31.62|       35.5|       20.5|        28.0|   TX|
|2006-05-23|  -102.81|   31.62|       39.1|       21.8|        30.4|   TX|
|2006-05-24|  -102.81|   31.62|       39.0|       21.3|        30.1|   TX|
|2006-05-25|  -102.81|   31.62|       38.4|       19.5|        29.0|   TX|
|2006-05-26|  -102.81|   31.62|       38.4|       23.0|        30.7|   TX|
|2006-05-27|  -102.81|   31.62|       36.2|       20.0|        28.1|   TX|
|2006-05-28|  -102.81|   31.62|       37.3|       20.6|        29.0|   TX|
|2006-05-29|  -102.81|   31.62|       37.7|       18.9|        28.3|   TX|
|2006-05-30|  -102.81|   31.62|       36.3|       21.8|        29.1|   TX|
|2006-05-31|  -102.81|   31.62|       33.2|       18.9|        26.1|   TX|
|2006-06-01|  -102.81|   31.62|       28.0|       16.4|        22.2|   TX|
|2006-06-02|  -102.81|   31.62|       32.6|       15.8|        24.2|   TX|
|2006-06-03|  -102.81|   31.62|       34.7|       17.0|        25.9|   TX|
+----------+---------+--------+-----------+-----------+------------+-----+
only showing top 20 rows

In [3]:
spark_local = SparkSession.builder \
    .appName("CSV Loading from Virtual Machine") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/11 16:33:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [23]:
ca_temp = spark_local.read.csv('/home/azureuser/data/projectdata/CA_temperature.csv', header=True, inferSchema=True)

ca_temp.show(5)

+---------+--------+-------------------+----------+----------+----------------+----------------+-----------------+--------+
|Longitude|Latitude|       Station_Name|Climate_ID|      Date|Max_Temp_Celcius|Min_Temp_Celcius|Mean_Temp_Celcius|Province|
+---------+--------+-------------------+----------+----------+----------------+----------------+-----------------+--------+
|  -134.83|   60.47|ANNIE LAKE ROBINSON|   2100115|2000-01-01|           -25.0|           -30.0|            -27.5|      YT|
|   -62.17|   46.43|        EAST BALTIC|   8300416|2000-01-01|            -4.0|           -12.0|             -8.0|      PE|
|  -121.22|   51.68| 100 MILE HOUSE 6NE|   1165793|2000-01-01|            -7.5|           -10.0|             -8.8|      BC|
|  -115.96|   49.63|      KIMBERLEY PCC|   1154203|2000-01-01|            -3.0|           -14.5|             -8.8|      BC|
|  -123.12|   49.31|N VANCOUVER WHARVES|   1105669|2000-01-01|             0.0|             0.0|              0.0|      BC|
+---------+--------+-------------------+----------+----------+----------------+----------------+-----------------+--------+
only showing top 5 rows

In [24]:
# Register DataFrames as temporary SQL tables
ca_temp.createOrReplaceTempView("CA_temperature")


# Run SQL queries for analysis
ca_on_temp = spark_local.sql("""
    SELECT Longitude, Latitude, Station_Name, Date, Max_Temp_Celcius, Min_Temp_Celcius, Mean_Temp_Celcius, Province
    FROM ca_temperature
    WHERE Province = "ON" and  Station_Name="COBOURG STP"
""")

In [25]:
# Get number of rows
num_rows = ca_on_temp.count()

# Get number of columns
num_columns = len(ca_on_temp.columns)

# Print the shape
print(f"The dataset has {num_rows} rows and {num_columns} columns.")

The dataset has 8003 rows and 8 columns.

In [32]:
# Perform the join and select the required columns
join1 = ca_on_temp.join(
    us_ny_temp, ca_on_temp.Date == us_ny_temp.lst_date, "left_outer"
).select(
    ca_on_temp["Date"],
    ca_on_temp["Longitude"].alias("ca_longitude"),
    ca_on_temp["Latitude"].alias("ca_latitude"),
    ca_on_temp["Max_Temp_Celcius"].alias("ca_max_temp"),
    ca_on_temp["Min_Temp_Celcius"].alias("ca_min_temp"),
    ca_on_temp["Mean_Temp_Celcius"].alias("ca_mean_temp"),
    ca_on_temp["Province"].alias("ca_province"),
    us_ny_temp["LONGITUDE"].alias("us_longitude"),
    us_ny_temp["LATITUDE"].alias("us_latitude"),
    us_ny_temp["T_DAILY_MAX"].alias("us_max_temp"),
    us_ny_temp["T_DAILY_MIN"].alias("us_min_temp"),
    us_ny_temp["T_DAILY_MEAN"].alias("us_mean_temp"),
    us_ny_temp["STATE"].alias("us_state")
)

# Display the result
join1.show(5)

+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+
|      Date|ca_longitude|ca_latitude|ca_max_temp|ca_min_temp|ca_mean_temp|ca_province|us_longitude|us_latitude|us_max_temp|us_min_temp|us_mean_temp|us_state|
+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+
|2000-01-06|      -78.18|      43.97|        3.5|      -10.0|        -3.3|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|
|2000-01-05|      -78.18|      43.97|        0.0|       -9.0|        -4.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|
|2000-01-02|      -78.18|      43.97|        9.0|       -2.0|         3.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|
|2000-01-01|      -78.18|      43.97|        6.0|       -5.0|         0.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|
|2000-01-04|      -78.18|      43.97|        9.0|       -1.0|         4.0|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|
+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+
only showing top 5 rows

In [33]:
# Get number of rows
num_rows = join1.count()

# Get number of columns
num_columns = len(join1.columns)

# Print the shape
print(f"The dataset has {num_rows} rows and {num_columns} columns.")

The dataset has 8003 rows and 13 columns.

In [35]:
usa_crimes = spark_local.read.csv('/home/azureuser/data/projectdata/USA_Crimes_-_2001_to_Present.csv', header=True, inferSchema=True)
usa_crimes.show(5)

+--------+-----------+--------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+---------+----------+--------------------+
|      ID|Case_Number|                Date|               Block|IUCR|Primary_Type|         Description|Location_Description|Arrest|Domestic|Beat|District|Ward|Community_Area|FBI_Code|X_Coordinate|Y_Coordinate|Year|          Updated_On| Latitude| Longitude|            Location|
+--------+-----------+--------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+---------+----------+--------------------+
| 5741943|   HN549294|08/25/2007 09:22:...|  074XX N ROGERS AVE|0560|     ASSAULT|              SIMPLE|               OTHER| false|   false|2422|    24.0|49.0|           1.0|     08A|         0.0|         0.0|2007|08/17/2015 03:03:...|      0.0|       0.0|                   0|
|   25953|   JE240540|05/24/2021 03:06:...| 020XX N LARAMIE AVE|0110|    HOMICIDE| FIRST DEGREE MURDER|              STREET|  true|   false|2515|    25.0|36.0|          19.0|     01A|   1141387.0|   1913179.0|2021|11/18/2023 03:39:...| 41.91784| -87.75597|(41.917838056, -8...|
|   26038|   JE279849|06/26/2021 09:24:...|062XX N MC CORMIC...|0110|    HOMICIDE| FIRST DEGREE MURDER|         PARKING LOT|  true|   false|1711|    17.0|50.0|          13.0|     01A|   1152781.0|   1941458.0|2021|11/18/2023 03:39:...| 41.99522|-87.713356|(41.995219444, -8...|
|13279676|   JG507211|11/09/2023 07:30:...|    019XX W BYRON ST|0620|    BURGLARY|      UNLAWFUL ENTRY|           APARTMENT| false|   false|1922|    19.0|47.0|           5.0|      05|   1162518.0|   1925906.0|2023|11/18/2023 03:39:...|41.952347| -87.67798|(41.952345086, -8...|
|13274752|   JG501049|11/12/2023 07:59:...|086XX S COTTAGE G...|0454|     BATTERY|AGGRAVATED P.O. -...|  SMALL RETAIL STORE|  true|   false| 632|     6.0| 6.0|          44.0|     08B|   1183071.0|   1847869.0|2023|12/09/2023 03:41:...| 41.73775| -87.60486|(41.737750767, -8...|
+--------+-----------+--------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+---------+----------+--------------------+
only showing top 5 rows

In [36]:
from pyspark.sql.functions import to_date, col
# Convert the 'Date' column to datetime and change the format
usa_crimes = usa_crimes.withColumn("Date", to_date(col("Date"), "MM/dd/yyyy hh:mm:ss a"))

# Sort the DataFrame by the 'Date' column
usa_crimes = usa_crimes.orderBy("Date", ascending=True)

from pyspark.sql.functions import count

# Group by 'Date' and count the rows for each group
df_aggregated = usa_crimes.groupBy("Date").agg(count("*").alias("us_crime_count"))

df_aggregated.show()

+----------+--------------+
|      Date|us_crime_count|
+----------+--------------+
|2023-06-22|           784|
|2022-07-31|           761|
|2023-07-15|           787|
|2016-03-01|           821|
|2021-10-11|           565|
|2014-09-26|           879|
|2021-12-18|           577|
|2005-06-06|          1275|
|2013-05-21|           932|
|2015-05-19|           710|
|2022-03-28|           601|
|2017-08-11|           766|
|2021-11-13|           589|
|2021-01-27|           518|
|2021-08-27|           674|
|2014-11-12|           596|
|2009-11-22|           988|
|2017-09-11|           691|
|2005-01-16|           968|
|2018-08-10|           859|
+----------+--------------+
only showing top 20 rows

In [39]:
# Perform the join and select the required columns
join2 = join1.join(
    df_aggregated, join1.Date == df_aggregated.Date, "left_outer"
).select(
    join1["*"],
    df_aggregated["us_crime_count"]
)

# Display the result
join2.show(5)

+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+
|      Date|ca_longitude|ca_latitude|ca_max_temp|ca_min_temp|ca_mean_temp|ca_province|us_longitude|us_latitude|us_max_temp|us_min_temp|us_mean_temp|us_state|us_crime_count|
+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+
|2000-01-06|      -78.18|      43.97|        3.5|      -10.0|        -3.3|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|
|2000-01-05|      -78.18|      43.97|        0.0|       -9.0|        -4.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|
|2000-01-02|      -78.18|      43.97|        9.0|       -2.0|         3.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|
|2000-01-01|      -78.18|      43.97|        6.0|       -5.0|         0.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|
|2000-01-04|      -78.18|      43.97|        9.0|       -1.0|         4.0|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|
+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+
only showing top 5 rows

In [40]:
# Get number of rows
num_rows = join2.count()

# Get number of columns
num_columns = len(join2.columns)

# Print the shape
print(f"The dataset has {num_rows} rows and {num_columns} columns.")

The dataset has 8003 rows and 14 columns.

In [41]:
# Perform the join and select the required columns
join3 = join2.join(
    us_birth, join2.Date == us_birth.Date, "left_outer"
).select(
    join2["*"],
    us_birth["us_births"]
)

# Display the result
join3.show(5)

+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+---------+
|      Date|ca_longitude|ca_latitude|ca_max_temp|ca_min_temp|ca_mean_temp|ca_province|us_longitude|us_latitude|us_max_temp|us_min_temp|us_mean_temp|us_state|us_crime_count|us_births|
+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+---------+
|2000-01-06|      -78.18|      43.97|        3.5|      -10.0|        -3.3|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|
|2000-01-05|      -78.18|      43.97|        0.0|       -9.0|        -4.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|
|2000-01-02|      -78.18|      43.97|        9.0|       -2.0|         3.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|
|2000-01-01|      -78.18|      43.97|        6.0|       -5.0|         0.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|
|2000-01-04|      -78.18|      43.97|        9.0|       -1.0|         4.0|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|
+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+---------+
only showing top 5 rows

In [42]:
# Get number of rows
num_rows = join3.count()

# Get number of columns
num_columns = len(join3.columns)

# Print the shape
print(f"The dataset has {num_rows} rows and {num_columns} columns.")

The dataset has 8003 rows and 15 columns.

In [43]:
join3.tail(5)

[Row(Date=datetime.date(2021, 4, 12), ca_longitude=-78.18, ca_latitude=43.97, ca_max_temp=10.0, ca_min_temp=7.0, ca_mean_temp=8.5, ca_province='ON', us_longitude=-102.81, us_latitude=31.62, us_max_temp=26.6, us_min_temp=11.5, us_mean_temp=19.1, us_state='TX', us_crime_count=533, us_births=9690),
 Row(Date=datetime.date(2021, 5, 13), ca_longitude=-78.18, ca_latitude=43.97, ca_max_temp=17.0, ca_min_temp=8.5, ca_mean_temp=12.8, ca_province='ON', us_longitude=-102.81, us_latitude=31.62, us_max_temp=26.9, us_min_temp=12.1, us_mean_temp=19.5, us_state='TX', us_crime_count=547, us_births=10372),
 Row(Date=datetime.date(2022, 8, 31), ca_longitude=-78.18, ca_latitude=43.97, ca_max_temp=24.0, ca_min_temp=14.0, ca_mean_temp=19.0, ca_province='ON', us_longitude=-102.81, us_latitude=31.62, us_max_temp=26.4, us_min_temp=20.2, us_mean_temp=23.3, us_state='TX', us_crime_count=739, us_births=9530),
 Row(Date=datetime.date(2022, 9, 13), ca_longitude=-78.18, ca_latitude=43.97, ca_max_temp=23.0, ca_min_temp=15.5, ca_mean_temp=19.3, ca_province='ON', us_longitude=-102.81, us_latitude=31.62, us_max_temp=33.2, us_min_temp=18.4, us_mean_temp=25.8, us_state='TX', us_crime_count=678, us_births=10044),
 Row(Date=datetime.date(2023, 6, 9), ca_longitude=-78.18, ca_latitude=43.97, ca_max_temp=0.0, ca_min_temp=0.0, ca_mean_temp=0.0, ca_province='ON', us_longitude=-102.81, us_latitude=31.62, us_max_temp=37.6, us_min_temp=20.1, us_mean_temp=28.9, us_state='TX', us_crime_count=699, us_births=10405)]

In [44]:
ca_crim = spark_local.read.csv('/home/azureuser/data/projectdata/Canada_Major_Crime_Indicators_Open_Data.csv', header=True, inferSchema=True)

ca_crim.show(5)

+-----------------+----------------+--------+---------------+--------------------+--------------------+-----------+------------+----------+----------+----------+-----------+--------+---------+-------+-------+----------+--------+--------+--------------------+-------------+--------+-------+-------------------+------------+--------+--------------------+--------+--------------------+-----------------+----------------+
|                X|               Y|OBJECTID|EVENT_UNIQUE_ID|         REPORT_DATE|            OCC_DATE|REPORT_YEAR|REPORT_MONTH|REPORT_DAY|REPORT_DOY|REPORT_DOW|REPORT_HOUR|OCC_YEAR|OCC_MONTH|OCC_DAY|OCC_DOY|   OCC_DOW|OCC_HOUR|DIVISION|       LOCATION_TYPE|PREMISES_TYPE|UCR_CODE|UCR_EXT|            OFFENCE|MCI_CATEGORY|HOOD_158|   NEIGHBOURHOOD_158|HOOD_140|   NEIGHBOURHOOD_140|       LONG_WGS84|       LAT_WGS84|
+-----------------+----------------+--------+---------------+--------------------+--------------------+-----------+------------+----------+----------+----------+-----------+--------+---------+-------+-------+----------+--------+--------+--------------------+-------------+--------+-------+-------------------+------------+--------+--------------------+--------+--------------------+-----------------+----------------+
|-8841784.90871943|5410286.47089473|       1| GO-20141260127|2014/01/01 05:00:...|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |          1|    2014|  January|      1|      1|Wednesday |       1|     D14|    Bar / Restaurant|   Commercial|    1420|    110|Assault Bodily Harm|     Assault|      84|     Little Portugal|      84|Little Portugal (84)| -79.427105224297| 43.642516787878|
|-8838125.64948372|5412177.83243115|       2| GO-20141263725|2014/01/01 05:00:...|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         19|    2014|  January|      1|      1|Wednesday |      18|     D52|Apartment (Roomin...|    Apartment|    1420|    100|Assault With Weapon|     Assault|      78|Kensington-Chinatown|      78|Kensington-Chinat...|-79.3942335387789|43.6548107944083|
|-8841053.22819299|5409638.73626077|       3| GO-20141264272|2014/01/01 05:00:...|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         21|    2014|  January|      1|      1|Wednesday |      21|     D14|Apartment (Roomin...|    Apartment|    1420|    100|Assault With Weapon|     Assault|      85|      South Parkdale|      85| South Parkdale (85)|-79.4205324264879| 43.638305880956|
|-8850460.85149563|5420267.41484981|       4| GO-20141263706|2014/01/01 05:00:...|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         18|    2014|  January|      1|      1|Wednesday |      18|     D12|Single Home, Hous...|        House|    1430|    100|            Assault|     Assault|     113|              Weston|     113|        Weston (113)|-79.5050425436361|43.7073653479291|
|-8840469.99476786|5431265.81442916|       5| GO-20141263710|2014/01/01 05:00:...|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         18|    2014|  January|      1|      1|Wednesday |      18|     D32|Apartment (Roomin...|    Apartment|    1430|    100|            Assault|     Assault|     151|         Yonge-Doris|      51|Willowdale East (51)|-79.4152931507629|43.7787433961406|
+-----------------+----------------+--------+---------------+--------------------+--------------------+-----------+------------+----------+----------+----------+-----------+--------+---------+-------+-------+----------+--------+--------+--------------------+-------------+--------+-------+-------------------+------------+--------+--------------------+--------+--------------------+-----------------+----------------+
only showing top 5 rows

In [45]:
from pyspark.sql.functions import count
from pyspark.sql.functions import to_date, col
# Convert REPORT_DATE to a new format
ca_crim = ca_crim.withColumn("REPORT_DATE", to_date(col("REPORT_DATE").substr(1, 10), "yyyy/MM/dd"))

# Sort the DataFrame by REPORT_DATE in ascending order
ca_crim = ca_crim.orderBy(col("REPORT_DATE"))

# Show the updated DataFrame
ca_crim.show()

+-----------------+----------------+--------+---------------+-----------+--------------------+-----------+------------+----------+----------+----------+-----------+--------+---------+-------+-------+----------+--------+--------+--------------------+-------------+--------+-------+--------------------+---------------+--------+--------------------+--------+--------------------+-----------------+----------------+
|                X|               Y|OBJECTID|EVENT_UNIQUE_ID|REPORT_DATE|            OCC_DATE|REPORT_YEAR|REPORT_MONTH|REPORT_DAY|REPORT_DOY|REPORT_DOW|REPORT_HOUR|OCC_YEAR|OCC_MONTH|OCC_DAY|OCC_DOY|   OCC_DOW|OCC_HOUR|DIVISION|       LOCATION_TYPE|PREMISES_TYPE|UCR_CODE|UCR_EXT|             OFFENCE|   MCI_CATEGORY|HOOD_158|   NEIGHBOURHOOD_158|HOOD_140|   NEIGHBOURHOOD_140|       LONG_WGS84|       LAT_WGS84|
+-----------------+----------------+--------+---------------+-----------+--------------------+-----------+------------+----------+----------+----------+-----------+--------+---------+-------+-------+----------+--------+--------+--------------------+-------------+--------+-------+--------------------+---------------+--------+--------------------+--------+--------------------+-----------------+----------------+
|-8841784.90871943|5410286.47089473|       1| GO-20141260127| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |          1|    2014|  January|      1|      1|Wednesday |       1|     D14|    Bar / Restaurant|   Commercial|    1420|    110| Assault Bodily Harm|        Assault|      84|     Little Portugal|      84|Little Portugal (84)| -79.427105224297| 43.642516787878|
|-8838125.64948372|5412177.83243115|       2| GO-20141263725| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         19|    2014|  January|      1|      1|Wednesday |      18|     D52|Apartment (Roomin...|    Apartment|    1420|    100| Assault With Weapon|        Assault|      78|Kensington-Chinatown|      78|Kensington-Chinat...|-79.3942335387789|43.6548107944083|
|-8841053.22819299|5409638.73626077|       3| GO-20141264272| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         21|    2014|  January|      1|      1|Wednesday |      21|     D14|Apartment (Roomin...|    Apartment|    1420|    100| Assault With Weapon|        Assault|      85|      South Parkdale|      85| South Parkdale (85)|-79.4205324264879| 43.638305880956|
|-8850460.85149563|5420267.41484981|       4| GO-20141263706| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         18|    2014|  January|      1|      1|Wednesday |      18|     D12|Single Home, Hous...|        House|    1430|    100|             Assault|        Assault|     113|              Weston|     113|        Weston (113)|-79.5050425436361|43.7073653479291|
|-8840469.99476786|5431265.81442916|       5| GO-20141263710| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         18|    2014|  January|      1|      1|Wednesday |      18|     D32|Apartment (Roomin...|    Apartment|    1430|    100|             Assault|        Assault|     151|         Yonge-Doris|      51|Willowdale East (51)|-79.4152931507629|43.7787433961406|
| -8827704.4102312| 5418273.1925597|       6| GO-20141263744| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         18|    2014|  January|      1|      1|Wednesday |      18|     D54|Apartment (Roomin...|    Apartment|    1420|    100| Assault With Weapon|        Assault|      61|       Taylor-Massey|      61|  Taylor-Massey (61)|-79.3006179542788|43.6944140148806|
|-8829963.71877897|5428278.12269902|       7| GO-20141263357| 2014-01-01|2013/12/29 05:00:...|       2014|     January|         1|         1|Wednesday |         17|    2013| December|     29|    363|Sunday    |      12|     D33|Apartment (Roomin...|    Apartment|    1430|    100|             Assault|        Assault|     150|   Fenside-Parkwoods|      45|Parkwoods-Donalda...|-79.3209136681278|43.7593621211978|
|-8838776.84668624|5419974.99216744|       8| GO-20141264140| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         20|    2014|  January|      1|      1|Wednesday |      20|     D53|Single Home, Hous...|        House|    1430|    100|             Assault|        Assault|     100|      Yonge-Eglinton|     100|Yonge-Eglinton (100)|-79.4000833426357|43.7054664049601|
|-8832824.78041895|5419631.29079007|       9| GO-20141259834| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |          0|    2014|  January|      1|      1|Wednesday |       0|     D53|    Bar / Restaurant|   Commercial|    1420|    100| Assault With Weapon|        Assault|      55|    Thorncliffe Park|      55|Thorncliffe Park ...|-79.3466150216221|43.7032343898983|
|-8841257.90098799|5415106.39398807|      10| GO-20141262553| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         14|    2014|  January|      1|      1|Wednesday |      13|     D13|     Retirement Home|        Other|    1430|    100|             Assault|        Assault|      94|            Wychwood|      94|       Wychwood (94)|-79.4223710327978|43.6738417211567|
|-8838988.35260555|5411068.10619421|      11| GO-20141260912| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |          6|    2014|  January|      1|      1|Wednesday |       4|     D14|Streets, Roads, H...|      Outside|    1450|    120|Discharge Firearm...|        Assault|     164|    Wellington Place|      78|Kensington-Chinat...|-79.4019833326708|43.6475977873627|
|-8845308.52671409|5414299.53546384|      12| GO-20141264227| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         20|    2014|  January|      1|      1|Wednesday |      20|     D11|Single Home, Hous...|        House|    1430|    100|             Assault|        Assault|      91|  Weston-Pelham Park|      91|Weston-Pellam Par...|-79.4587584231452|43.6685990435469|
|-8809035.84152658|5431523.16891597|      13| GO-20141260264| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |          1|    2014|  January|      1|      1|Wednesday |       1|     D43|            Go Train|      Transit|    1430|    100|             Assault|        Assault|     143|          West Rouge|     131|         Rouge (131)|-79.1329153478869|43.7804125709689|
|-8826157.86123603|5419148.65896319|      14| GO-20141637937| 2014-01-01|2012/03/01 05:00:...|       2014|     January|         1|         1|Wednesday |         16|    2012|    March|      1|     61|Thursday  |       0|     D41|Apartment (Roomin...|    Apartment|    1420|    110| Assault Bodily Harm|        Assault|     120| Clairlea-Birchmount|     120|Clairlea-Birchmou...|-79.2867250682331|43.7001000127995|
|-8840628.61134994|5412224.63766894|      15| GO-20141260618| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |          5|    2014|  January|      1|      1|Wednesday |       2|     D14|    Bar / Restaurant|   Commercial|    1430|    100|             Assault|        Assault|      81|   Trinity-Bellwoods|      81|Trinity-Bellwoods...|-79.4167180277593|43.6551149997848|
|-8813612.76020167|5428591.47089591|      16| GO-20141260831| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |          3|    2014|  January|      1|      1|Wednesday |       3|     D43|Single Home, Hous...|        House|    1430|    100|             Assault|        Assault|     136|           West Hill|     136|     West Hill (136)| -79.174030508219|43.7613951184015|
| -8834672.2538276|5412341.71026858|      17| GO-20141262013| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         11|    2014|  January|      1|      1|Wednesday |      11|     D51|Streets, Roads, H...|      Outside|    1420|    110| Assault Bodily Harm|        Assault|      72|         Regent Park|      72|    Regent Park (72)|-79.3632111580376|43.6558758949796|
|-8838776.84668624|5419974.99216744|      18| GO-20141264140| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         20|    2014|  January|      1|      1|Wednesday |      20|     D53|Single Home, Hous...|        House|    1430|    100|             Assault|        Assault|     100|      Yonge-Eglinton|     100|Yonge-Eglinton (100)|-79.4000833426357|43.7054664049601|
|-8840392.43992578| 5430179.1968087|      19| GO-20141263143| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |         16|    2014|  January|      1|      1|Wednesday |      16|     D32|Apartment (Roomin...|    Apartment|    1430|    100|             Assault|        Assault|      37|     Willowdale West|      37|Willowdale West (37)|-79.4145964643991|43.7716951914715|
|-8840192.23905736|5411580.42895367|      20| GO-20141260521| 2014-01-01|2014/01/01 05:00:...|       2014|     January|         1|         1|Wednesday |          2|    2014|  January|      1|      1|Wednesday |       2|     D14|    Bar / Restaurant|   Commercial|    2120|    200|                 B&E|Break and Enter|      81|   Trinity-Bellwoods|      81|Trinity-Bellwoods...|-79.4127980292092|43.6509278942978|
+-----------------+----------------+--------+---------------+-----------+--------------------+-----------+------------+----------+----------+----------+-----------+--------+---------+-------+-------+----------+--------+--------+--------------------+-------------+--------+-------+--------------------+---------------+--------+--------------------+--------+--------------------+-----------------+----------------+
only showing top 20 rows

In [46]:
ca_crim.tail(5)

[Row(X=-8816058.49316295, Y=5427704.67012902, OBJECTID=384683, EVENT_UNIQUE_ID='GO-2024688981', REPORT_DATE=datetime.date(2024, 3, 31), OCC_DATE='2024/03/30 04:00:00+00', REPORT_YEAR=2024, REPORT_MONTH='March', REPORT_DAY=31, REPORT_DOY=91, REPORT_DOW='Sunday    ', REPORT_HOUR=11, OCC_YEAR=2024, OCC_MONTH='March', OCC_DAY=30, OCC_DOY=90, OCC_DOW='Saturday  ', OCC_HOUR=16, DIVISION='D43', LOCATION_TYPE='Parking Lots (Apt., Commercial Or Non-Commercial)', PREMISES_TYPE='Outside', UCR_CODE=2135, UCR_EXT=210, OFFENCE='Theft Of Motor Vehicle', MCI_CATEGORY='Auto Theft', HOOD_158='136', NEIGHBOURHOOD_158='West Hill', HOOD_140='136', NEIGHBOURHOOD_140='West Hill (136)', LONG_WGS84=-79.1960009011566, LAT_WGS84=43.7556413926696),
 Row(X=-8853213.07796189, Y=5403034.34945701, OBJECTID=384684, EVENT_UNIQUE_ID='GO-2024690900', REPORT_DATE=datetime.date(2024, 3, 31), OCC_DATE='2024/03/31 04:00:00+00', REPORT_YEAR=2024, REPORT_MONTH='March', REPORT_DAY=31, REPORT_DOY=91, REPORT_DOW='Sunday    ', REPORT_HOUR=16, OCC_YEAR=2024, OCC_MONTH='March', OCC_DAY=31, OCC_DOY=91, OCC_DOW='Sunday    ', OCC_HOUR=16, DIVISION='D22', LOCATION_TYPE='Apartment (Rooming House, Condo)', PREMISES_TYPE='Apartment', UCR_CODE=1430, UCR_EXT=100, OFFENCE='Assault', MCI_CATEGORY='Assault', HOOD_158='19', NEIGHBOURHOOD_158='Long Branch', HOOD_140='19', NEIGHBOURHOOD_140='Long Branch (19)', LONG_WGS84=-79.5297662151173, LAT_WGS84=43.5953540789664),
 Row(X=-8837819.06759107, Y=5417384.89779554, OBJECTID=384685, EVENT_UNIQUE_ID='GO-2024690985', REPORT_DATE=datetime.date(2024, 3, 31), OCC_DATE='2024/03/31 04:00:00+00', REPORT_YEAR=2024, REPORT_MONTH='March', REPORT_DAY=31, REPORT_DOY=91, REPORT_DOW='Sunday    ', REPORT_HOUR=16, OCC_YEAR=2024, OCC_MONTH='March', OCC_DAY=31, OCC_DOY=91, OCC_DOW='Sunday    ', OCC_HOUR=16, DIVISION='D53', LOCATION_TYPE='Schools During Un-Supervised Activity', PREMISES_TYPE='Educational', UCR_CODE=1430, UCR_EXT=100, OFFENCE='Assault', MCI_CATEGORY='Assault', HOOD_158='98', NEIGHBOURHOOD_158='Rosedale-Moore Park', HOOD_140='98', NEIGHBOURHOOD_140='Rosedale-Moore Park (98)', LONG_WGS84=-79.3914794666364, LAT_WGS84=43.6886441481969),
 Row(X=-8835715.27548889, Y=5416721.55108982, OBJECTID=384686, EVENT_UNIQUE_ID='GO-2024690995', REPORT_DATE=datetime.date(2024, 3, 31), OCC_DATE='2024/03/30 04:00:00+00', REPORT_YEAR=2024, REPORT_MONTH='March', REPORT_DAY=31, REPORT_DOY=91, REPORT_DOW='Sunday    ', REPORT_HOUR=16, OCC_YEAR=2024, OCC_MONTH='March', OCC_DAY=30, OCC_DOY=90, OCC_DOW='Saturday  ', OCC_HOUR=23, DIVISION='D53', LOCATION_TYPE='Single Home, House (Attach Garage, Cottage, Mobile)', PREMISES_TYPE='House', UCR_CODE=2135, UCR_EXT=210, OFFENCE='Theft Of Motor Vehicle', MCI_CATEGORY='Auto Theft', HOOD_158='98', NEIGHBOURHOOD_158='Rosedale-Moore Park', HOOD_140='98', NEIGHBOURHOOD_140='Rosedale-Moore Park (98)', LONG_WGS84=-79.3725807805127, LAT_WGS84=43.6843350560635),
 Row(X=-8811261.90684613, Y=5431635.7548109, OBJECTID=384687, EVENT_UNIQUE_ID='GO-2024688279', REPORT_DATE=datetime.date(2024, 3, 31), OCC_DATE='2024/03/30 04:00:00+00', REPORT_YEAR=2024, REPORT_MONTH='March', REPORT_DAY=31, REPORT_DOY=91, REPORT_DOW='Sunday    ', REPORT_HOUR=9, OCC_YEAR=2024, OCC_MONTH='March', OCC_DAY=30, OCC_DOY=90, OCC_DOW='Saturday  ', OCC_HOUR=19, DIVISION='D43', LOCATION_TYPE='Single Home, House (Attach Garage, Cottage, Mobile)', PREMISES_TYPE='House', UCR_CODE=2135, UCR_EXT=210, OFFENCE='Theft Of Motor Vehicle', MCI_CATEGORY='Auto Theft', HOOD_158='133', NEIGHBOURHOOD_158='Centennial Scarborough', HOOD_140='133', NEIGHBOURHOOD_140='Centennial Scarborough (133)', LONG_WGS84=-79.1529124328744, LAT_WGS84=43.7811427765735)]

In [47]:

# Group by 'REPORT_DATE' and count each group
#ca_crim = ca_crim.groupBy("REPORT_DATE").count().withColumnRenamed("count", "ca_crime_count")

# Group by 'Date' and count the rows for each group
df_aggregated_ca = ca_crim.groupBy("REPORT_DATE").agg(count("*").alias("ca_crime_count"))

df_aggregated_ca.show()

+-----------+--------------+
|REPORT_DATE|ca_crime_count|
+-----------+--------------+
| 2014-09-26|           100|
| 2014-11-12|           118|
| 2015-03-09|            89|
| 2015-05-19|           108|
| 2015-03-06|            75|
| 2014-08-01|            74|
| 2015-04-09|            97|
| 2014-06-03|            93|
| 2014-01-24|            80|
| 2014-02-16|            74|
| 2014-06-11|           101|
| 2015-05-10|            94|
| 2014-02-18|            89|
| 2014-08-13|            99|
| 2015-03-12|            88|
| 2015-03-16|            92|
| 2015-04-01|            81|
| 2015-04-24|           103|
| 2014-07-04|            89|
| 2014-07-06|            78|
+-----------+--------------+
only showing top 20 rows

In [50]:
# Perform the join and select the required columns
join4 = join3.join(
    df_aggregated_ca, join3.Date == df_aggregated_ca.REPORT_DATE, "left_outer"
).select(
    join3["*"],
    df_aggregated_ca["ca_crime_count"]
)

# Display the result
join4.show(5)

+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+---------+--------------+
|      Date|ca_longitude|ca_latitude|ca_max_temp|ca_min_temp|ca_mean_temp|ca_province|us_longitude|us_latitude|us_max_temp|us_min_temp|us_mean_temp|us_state|us_crime_count|us_births|ca_crime_count|
+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+---------+--------------+
|2000-01-06|      -78.18|      43.97|        3.5|      -10.0|        -3.3|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|
|2000-01-05|      -78.18|      43.97|        0.0|       -9.0|        -4.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|
|2000-01-02|      -78.18|      43.97|        9.0|       -2.0|         3.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|
|2000-01-01|      -78.18|      43.97|        6.0|       -5.0|         0.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|
|2000-01-04|      -78.18|      43.97|        9.0|       -1.0|         4.0|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|
+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+---------+--------------+
only showing top 5 rows

In [49]:
ca_births = spark_local.read.csv('/home/azureuser/data/projectdata/CanadianBirthFinal.csv', header=True, inferSchema=True)

ca_births.show(5)

+----------+--------+----+-----+--------------+--------------------+----+------+-------------+---------+------+----------+-----+------+------+----------+--------+------------+------+
|      Date|REF_DATE| GEO|DGUID|Month_of_birth|     Characteristics| UOM|UOM_ID|SCALAR_FACTOR|SCALAR_ID|VECTOR|COORDINATE|VALUE|STATUS|SYMBOL|TERMINATED|DECIMALS|Day_of_birth|Births|
+----------+--------+----+-----+--------------+--------------------+----+------+-------------+---------+------+----------+-----+------+------+----------+--------+------------+------+
|1991-01-01|    1991|NULL| NULL|       January|Number of live bi...|NULL|  NULL|         NULL|     NULL|  NULL|      NULL| NULL|  NULL|  NULL|      NULL|    NULL|         1.0|1083.0|
|1991-01-02|    1991|NULL| NULL|       January|Number of live bi...|NULL|  NULL|         NULL|     NULL|  NULL|      NULL| NULL|  NULL|  NULL|      NULL|    NULL|         2.0|1015.0|
|1991-01-03|    1991|NULL| NULL|       January|Number of live bi...|NULL|  NULL|         NULL|     NULL|  NULL|      NULL| NULL|  NULL|  NULL|      NULL|    NULL|         3.0|1016.0|
|1991-01-04|    1991|NULL| NULL|       January|Number of live bi...|NULL|  NULL|         NULL|     NULL|  NULL|      NULL| NULL|  NULL|  NULL|      NULL|    NULL|         4.0|1051.0|
|1991-01-05|    1991|NULL| NULL|       January|Number of live bi...|NULL|  NULL|         NULL|     NULL|  NULL|      NULL| NULL|  NULL|  NULL|      NULL|    NULL|         5.0| 973.0|
+----------+--------+----+-----+--------------+--------------------+----+------+-------------+---------+------+----------+-----+------+------+----------+--------+------------+------+
only showing top 5 rows

In [51]:
# Perform the join and select the required columns
join5 = join4.join(
    ca_births, join4.Date == ca_births.Date, "left_outer"
).select(
    join4["*"],
    ca_births["Births"].alias("ca_births")
)

# Display the result
join5.show(5)

+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+---------+--------------+---------+
|      Date|ca_longitude|ca_latitude|ca_max_temp|ca_min_temp|ca_mean_temp|ca_province|us_longitude|us_latitude|us_max_temp|us_min_temp|us_mean_temp|us_state|us_crime_count|us_births|ca_crime_count|ca_births|
+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+---------+--------------+---------+
|2000-01-06|      -78.18|      43.97|        3.5|      -10.0|        -3.3|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|    909.0|
|2000-01-05|      -78.18|      43.97|        0.0|       -9.0|        -4.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|    901.0|
|2000-01-02|      -78.18|      43.97|        9.0|       -2.0|         3.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|    889.0|
|2000-01-01|      -78.18|      43.97|        6.0|       -5.0|         0.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|    833.0|
|2000-01-04|      -78.18|      43.97|        9.0|       -1.0|         4.0|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|    831.0|
+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+---------+--------------+---------+
only showing top 5 rows

In [53]:
usa_energy = spark_local.read.csv('/home/azureuser/data/projectdata/USEnergyConsumption.csv', header=True, inferSchema=True)

usa_energy.show(5)

+----------+----------------+--------+---------------+------------------+--------+
|      Date|Demand_Forecast_| Demand_|Net_Generation_|Total_Interchange_|    Sum_|
+----------+----------------+--------+---------------+------------------+--------+
|2016-01-01|        133710.0|120500.0|        97381.0|          -23119.0|-23119.0|
|2016-01-02|        135707.0|120083.0|        95932.0|          -24151.0|-24151.0|
|2016-01-03|        136047.0|120374.0|        93343.0|          -27031.0|-27031.0|
|2016-01-04|        140562.0|124551.0|       107306.0|          -17245.0|-17245.0|
|2016-01-05|        138014.0|125802.0|       113281.0|          -12521.0|-12521.0|
+----------+----------------+--------+---------------+------------------+--------+
only showing top 5 rows

In [57]:
# Perform the join and select the required columns
join6 = join5.join(
    usa_energy, join5.Date == usa_energy.Date, "left_outer"
).select(
    join5["*"],
    usa_energy["Demand_"].alias("us_energy_demand")
)

# Display the result
join6.show(5)

+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+---------+--------------+---------+----------------+
|      Date|ca_longitude|ca_latitude|ca_max_temp|ca_min_temp|ca_mean_temp|ca_province|us_longitude|us_latitude|us_max_temp|us_min_temp|us_mean_temp|us_state|us_crime_count|us_births|ca_crime_count|ca_births|us_energy_demand|
+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+---------+--------------+---------+----------------+
|2000-01-06|      -78.18|      43.97|        3.5|      -10.0|        -3.3|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|    909.0|            NULL|
|2000-01-05|      -78.18|      43.97|        0.0|       -9.0|        -4.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|    901.0|            NULL|
|2000-01-02|      -78.18|      43.97|        9.0|       -2.0|         3.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|    889.0|            NULL|
|2000-01-01|      -78.18|      43.97|        6.0|       -5.0|         0.5|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|    833.0|            NULL|
|2000-01-04|      -78.18|      43.97|        9.0|       -1.0|         4.0|         ON|        NULL|       NULL|       NULL|       NULL|        NULL|    NULL|          NULL|     NULL|          NULL|    831.0|            NULL|
+----------+------------+-----------+-----------+-----------+------------+-----------+------------+-----------+-----------+-----------+------------+--------+--------------+---------+--------------+---------+----------------+
only showing top 5 rows

In [60]:
# Specify the output path
output_path = "home/azureuser/Desktop/join6_output"

# Save the DataFrame as a CSV file
join6.write.csv(output_path, header=True, mode="overwrite")

In [ ]:
# Stop the Spark session
spark_hadoop.stop()
spark_postgres.stop()
spark_sqlserver.stop()
spark_mongo.stop()
spark_local.stop()